.user-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2px;
    padding: 4px 16px;
    border-radius: 4px;
    transition: background-color 0.1s ease;
  }

  .user-message:hover {
    background-color: #32353b;
  }
  
  .full-message-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .user-profile-img-container {
    margin-right: 10px;
  }
  
  .profile-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 4px;
  }
  
  .message-username-container {
    display: flex;
    flex-direction: column;
  }
  
  .message-username {
    margin-top: 2px;
    font-weight: 600;
    font-size: 16px;
    color:#f2f3f5
  }
  
  .message-created-at {
    font-weight: 400;
    font-size: 12px;
    margin-left: 8px;
    color: #72767d;
  }
  
  .message-body {
    padding-top: 4px;
    font-size: 15px;
    color:#dcddde;
    line-height: 1.375;
  }

  img.profile-img {
    max-width: 40px;
    max-height: 40px;
  }