.channel-messages-container{
    background-color: #36393e;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    overflow: hidden;
}

.all-messages-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px 0 8px 0;
    overflow-y: auto;
    scroll-behavior: smooth;
}